<div class="container">
  <form [formGroup]="adresseFormGroup" *ngIf="adresseFormGroup">
    <div class="form-group">
      <label>Address' ID</label>
      <input type="text" class="form-control" formControlName="id" value="{{idadresse}}" readonly="readonly">
    </div>

    <div class="form-group">
      <label>Street :</label>
      <input type="text" class="form-control" formControlName="rue"
        [ngClass]="{'is-invalid' : submitted && adresseFormGroup.controls.rue.errors}"/>
      <div *ngIf="submitted && adresseFormGroup.controls.rue.errors" class="invalid-feedback">
        <div *ngIf="adresseFormGroup.controls.rue.errors.required">Street is required</div>
      </div>
    </div>

    <div class="form-group">
      <label>Street number :</label>
      <input type="text" class="form-control" formControlName="num"
        [ngClass]="{'is-invalid' : submitted && adresseFormGroup.controls.num.errors}"/>
      <div *ngIf="submitted && adresseFormGroup.controls.num.errors" class="invalid-feedback">
        <div *ngIf="adresseFormGroup.controls.num.errors.required">Street number is required</div>
      </div>
    </div>

    <div class="form-group">
      <label>Postal code :</label>
      <input type="number" class="form-control" formControlName="cp"
             [ngClass]="{'is-invalid' : submitted && adresseFormGroup.controls.cp.errors}" min="1000" max="9999"/>
      <div *ngIf="submitted && adresseFormGroup.controls.cp.errors" class="invalid-feedback">
        <div *ngIf="adresseFormGroup.controls.cp.errors.required">Postal code is required</div>
        <div *ngIf="adresseFormGroup.controls.cp.errors.min">Postal code must be a number greater than or equal to 1000</div>
        <div *ngIf="adresseFormGroup.controls.cp.errors.max">Postal code must be a number less than or equal to 9999</div>
      </div>
    </div>

    <!-- Should be a list with all the towns of Belgium -->
    <div class="form-group">
      <label>Town :</label>
      <input type="text" class="form-control" formControlName="localite"
        [ngClass]="{'is-invalid' : submitted && adresseFormGroup.controls.localite.errors}"/>
      <div *ngIf="submitted && adresseFormGroup.controls.localite.errors" class="invalid-feedback">
        <div *ngIf="adresseFormGroup.controls.localite.errors.required">Town is required</div>
      </div>
    </div>

    <button (click)="onSaveAddress()" class="btn btn-success mt-4">Save</button>

  </form>
</div>
