<nav class="navbar nav-bar-custom navbar-expand-sm">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/clients">Clients</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/locations">Locations</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" routerLink="/taxis">Taxis</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" routerLink="/addresses">Addresses</a>
    </li>
  </ul>
</nav>
